@import "../../variable.scss";

.feature-con {
  background-color: $grey-10;
  margin-top: 0;
  padding: 40px 0px;

  .featured {
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;

  }

  .title-con {
    text-align: center;


    .pro-under {
      background: #ab7a5f;
      height: .25rem;
      margin-left: auto;
      margin-right: auto;
      width: 6rem;

    }
  }

  img {
    height: 225px;
  }

  .bt {
    display: ruby-text;
    width: 148px;
    margin: 0px auto;
    border: none;
    background: $primary-5;
    border-radius: $radius;
    color: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    color: $primary-10;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: $spacing;
    padding: .375rem .75rem;
    text-transform: uppercase;
    transition: $transition;


  }

}