@import "../../variable.scss";

.productpage-con {
    min-height: calc(80vh - 10rem);
    margin: 4rem;

    .container-grid {
        display: grid;
        gap: 4rem 1.5rem;
        grid-template-columns: 200px 1fr;


        .page-top {
            display: grid;
            grid-template-columns: 100px 140px 520px 400px;
            margin-bottom: 20px;

            .productsshow-con {
                display: grid;
            }

            img {
                width: 300px;
                height: 200px;
                object-fit: cover;
            }

            .btn-container {
                display: flex;
                gap: 10px;

                button {
                    background: transparent;
                    border: 1px solid $black;
                    color: $black;
                    width: 1.5rem;
                    border-radius: $radius;
                    height: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    svg {
                        font-size: 1rem;
                    }
                }

                .active {
                    background: $black;
                    color: $white;
                }

                .sort-in {
                    border-color: transparent;
                    font-size: 1rem;
                    text-transform: capitalize;
                    padding: 0.25rem 0.5rem;
                }

                label {
                    font-size: 1rem;
                    text-transform: capitalize;
                }


                p {
                    text-transform: capitalize;
                    gap: 10px;
                    color: $grey-9;
                }

            }
        }
    }
}

.length-pro {
    text-transform: capitalize;
    gap: 10px;
    color: $grey-3;

}

.tick-search {
    color: #000;
    font-size: 0.75rem;

}
