@import "../variable.scss";

.side-filter-con {
    position: sticky;
    top: 30px;
    height: fit-content;

    .search-con {
        border: none;
        background: $grey-10;
        border-radius: $radius;
        width: 100%;
        height: 35px;
        padding: 0.5rem;
        font-size: small;

    }

    .category {
        display: inline-grid;
        text-decoration: none;
        border: none;
        line-height: 2;


        h5 {
            font-size: medium;
           color: $grey-1;
            margin-top: 20px;
            margin-left: 5px;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .button-ca {
            border: none;
            background: none;
            text-transform: capitalize;
            color: $grey-5;
            text-align: left;
            font-weight: 400;
            font-size: 14px;
        }
    }

    .company-con {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        h3 {
            text-align: left;
            font-size: medium;
            color: $grey-1;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .company-select {
            background: $grey-10;
            border: none;
            border-radius: $radius;
            height: 25px;
        }

        option {
            width: 200px;
            border: none;
        }

    }

    .color-sec {
          color: $grey-1;
        align-items: center;
        margin-bottom: 2rem;
        h5{
            font-size: medium;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: 1rem;
        }
        .co {
            color: $black;
            text-transform: capitalize;
            font-weight: bold;
            border: none;
        }

        .color-btn-single {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background: rgb(12, 10, 10);
            border: none;
            cursor: pointer;
            opacity: 0.5;
            outline: none;

            .tick-search {
                color:$white;
                vertical-align: text-top;
                font-size: 10px;
            }
        }

        .active {
            opacity: 3;

        }
       

    }
    .price-con{
   
        label{
            font-weight: 600;
            letter-spacing: 2px;
            color: $grey-1;
            margin-bottom: 1rem;
        }
        p{
            color: $grey-2;
            font-weight: 400;
            letter-spacing: 1px;
            margin-bottom: 0;
        }
    }
    .checkbox-1{
      label{
        margin-top: 2rem;
        color: $grey-1;
      }
      .checkbox{
    margin-left: 20px;
      }
    }



    .clear-btn {
        margin-top: 3rem;
        background: $red-dark;
        border: none;
        color: $white;
        border-radius: $radius;
        width: 100px;
    }

}

@media (max-width: 922px){
    .side-filter-con {
      position: relative;
        top: 30px;

    
        .search-con {
            border: none;
            background: $grey-10;
            border-radius: $radius;
            width: 20%;
            height: 35px;
            padding: 0.5rem;
            font-size: small;
    
        }
    

    }
}