@import "../variable.scss";

.side-filter-con {
    position: sticky;
    top: 30px;
    height: fit-content;

    .search-con {
        border: none;
        background: $grey-10;
        border-radius: $radius;
        width: 100%;
        height: 35px;
        padding: 0.5rem;
        font-size: small;

    }

    .category {
        display: inline-grid;
        text-decoration: none;
        border: none;
        margin: 20px;

        h5 {
            font-size: medium;

            text-align: left;
        }

        .button-ca {
            border: none;
            background: none;
            text-transform: capitalize;
            color: $grey-5;
            text-align: left;
        }
    }

    .company-con {

        h3 {
            text-align: left;
            font-size: medium;
        }

        option {
            width: 200px;
        }

    }

    .color-sec {
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 2rem;

        .co {

            color: $black;
            text-transform: capitalize;
            font-weight: bold;
            border: none;

        }

        .color-btn-single {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background: rgb(34, 34, 34);
            margin-right: 0.5rem;
            border: none;
            cursor: pointer;
            opacity: 0.5;
            outline: none;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: start;
        }

        .active {
            opacity: 2;

        }

        .tick {
            font-size: 0.75rem;
            color: $white;
        }

    }

    .clear-btn {
        background: red;
        border: none;
        color: $white;
        border-radius: $radius;
    }

}