@import "../../variable.scss";

.container {
  margin-bottom: 0;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 1rem 0;
  }

  .hero-section-data {
    padding-top: 5rem;

    p {
      margin: 1rem 0;
      font-size: 1.3rem;
      line-height: 2;
      color: #829ab0;
    }

    h1 {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 3rem;
      color: #102a42;
    }

    .intro-data {
      margin-bottom: 0;
    }
  }

  .hero-section-image {
    padding: 1rem 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  figure {
    position: relative;

    &::after {
      content: "";
      width: 80%;
      height: 50%;
      margin-left: 4rem;
      background-color: #DECBC0;
      position: absolute;
      left: -10%;
      margin-top: 200px;
      top: -5rem;
      z-index: -1;
      border-radius: 0.5rem;
    }
  }

  .img-style {
    min-width: 10rem;
    // height: 10rem;
    width: 105%;
    height: 550px;
    position: relative;
    border-radius: 0.5rem;
    display: block;
    // object-fit: cover;
  }

  .hero-section-image .accent-img {

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 250px;
    transform: translateX(-50%);
    border-radius: $radius;

  }



  .button {
    background: #ab7a5f;
    border: none;
    width: 30%;
    height: 10%;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
  }

  .button:hover {
    background: $primary-7;
    color: $primary-1;
  }

  @media (max-width: 922px) {
    .container {
      display: flex;
      flex-direction: column;
      margin-top:0;
   
    }

    .hero-section-data {
      padding-top: 1rem;
      p {

        font-size: 1rem;
        width: max-content;
        line-height: 2;
        color: #829ab0;
      }

      h1 {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 2rem;
        color: #102a42;
       
      }

      .intro-data {
        margin-bottom: 0;
      }
    }

    .img-style {
      display: none;
    }

    .hero-section-image .accent-img {
      display: none;

    }

    .button {
      background: #ab7a5f;
      border: none;
      width: 30%;
      height: 15%;
      border-radius: 5px;
      color: white;
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    .button:hover {
      background: $primary-7;
      color: $primary-1;
    }

  }
}