@import "../../variable.scss";

.single-page {
  display: grid;
  margin-top: 5rem;
  margin-bottom: 5rem;


  .btn1 {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    background: $primary-5;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: $transition;
    margin-left: 60px;
  }

  .img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    .content {
      h1 {
        color: $grey-1;
        text-transform: capitalize;
        margin-top: 40px;
        font-weight: bold;

      }
    }

    .price1 {
      color: $primary-5;
    }

    .description {
      line-height: 2;
      width: 34em;
      max-width: 40em;
      color: $grey-3;
    }

    .information {
      text-transform: capitalize;
      width: 300px;
      display: grid;
      grid-template-columns: 125px 1fr;

      span {
        font-weight: 700;
        color: $grey-3;
        font-weight: bold;
      }


    }

    hr {
      border-top: 2px solid $grey-6;
      width: 500px;
      color: inherit;
      opacity: .35;
    }
  }
}

@media (max-width: 922px) {

  .single-page {
    display: grid;
    margin-top: 5rem;
    margin-bottom: 6rem;


    .btn1 {

      margin-left: 2rem;
      margin-bottom: 10px;
    }

    .img-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;

      .content {
        margin-left: 2rem;

        h1 {
          color: $grey-1;
          text-transform: capitalize;
          margin-top: 40px;
          font-weight: bold;
          width: 300px;

        }
      }

      .price1 {
        color: $primary-5;
      }

      .description {
        line-height: 2;
        width: 40em;
        max-width: 40em;
        font-size: 14px;
        color: $grey-3;
      }

      p {
        color: $grey-3;
        font-size: 14px;
      }

      .information {
        text-transform: capitalize;
        width: 300px;
        display: grid;
        grid-template-columns: 125px 1fr;

        span {
          font-weight: 700;
          color: $grey-3;
          font-weight: bold;
          font-size: 14px;
        }



      }

      hr {
        border-top: 2px solid $grey-6;
        width: 500px;
        color: inherit;
        opacity: .35;
      }
    }
  }

}

@media (max-width: 768px) {
  .single-page {
    display: grid;
    margin-top: 5rem;
    margin-bottom: 6rem;


    .btn1 {

      margin-left: 2rem;
      margin-bottom: 10px;
    }

    .img-grid {
      display: flex;
      flex-direction: column;

    }
  }

}

@media (max-width: 576px) {
  .single-page {
    display: grid;
    margin-top: 5rem;
    margin-bottom: 6rem;


    .btn1 {

      margin-left: 2rem;
      margin-bottom: 10px;
    }

    .img-grid {
      display: flex;
      flex-direction: column;
      width: 400px;
    }
  }
}

@media (max-width:491px) {

  .single-page {
    display: grid;
    margin-top: 1rem;
    margin-bottom: 6rem;



    .btn1 {

      margin-left: 2rem;
      margin-bottom: 10px;
    }

    .img-grid {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 300px;
      .content {
        margin-left: 2rem;

        h1 {
          color: $grey-1;
          text-transform: capitalize;
          margin-top: 40px;
          font-weight: bold;

        }
      }



      .description {
        line-height: 2;
        width: 20em;
        max-width: 40em;
        font-size: 14px;
        color: $grey-3;
      }


      .information {
        text-transform: capitalize;
        width: 300px;
        display: grid;
        grid-template-columns: 125px 1fr;

        span {
          font-weight: 700;
          color: $grey-3;
          font-weight: bold;
          font-size: 14px;
        }



      }

      hr {
        border-top: 2px solid $grey-6;
        width: 300px;
        color: inherit;
        opacity: .35;
      }
    }
  }

}