@import "../../variable.scss";

.section {
    padding:  0;

    background: #eaded7;
       h4{
        color:$primary-1;
       }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
        margin-bottom: 2rem;
 

        h2 {
     
            color: #453227;
            margin-left: 60px;
            line-height: 1;
            margin-bottom: 3rem;
            letter-spacing: 2px;
            font-weight: bold;

            p {
             
                margin-bottom: 0;
                line-height: 1;
                color: #795744;
                margin-left: 0;

            }

        }
    }

    .services-center {

        margin-top: 3rem;
        display: flex;
        gap: 2.5rem;
        margin-left: 60px;
        margin-right: 60px;
       

    }
    .section-center {
        transform: translateY(3rem);
    }
    .service {
        background: #c5a491;
        text-align: center;
        padding: 2.5rem 2rem;
        border-radius: 0.25rem;
        width: 380px;
        height: 300px;
        text-transform: capitalize;

        p {
            color: #5f4435;
           
        }

        article {
            margin-right: 40px;
            margin-left: 60px;
            width: 300px;
        }

    }
    span {
        width: 3rem;
        height: 3rem;
        display: grid;
        margin: 0 auto;
        place-items: center;
        border-radius: 50%;
        background: #eaded7;
        color: #453227;
    }

    span {

        svg {
            font-size: 2rem;
            color: #453227;
        }
    }
}

@media (max-width: 992px) {
    .section {
      
        padding:3rem;

        .header {
            display: grid;
            grid-template-columns: 1fr;
            width: fit-content;
            margin-top:0;

            h2 {
                margin-top: 0;
                color: #453227;
                line-height: 1;
                margin-bottom: 2rem;
                letter-spacing: 1.5px;
                font-weight: bold;
                font-size: 24px;
                margin-left: 2rem;
                margin-top: 3rem;

            }

            p {
                margin-bottom: 0;
                line-height: 1.8;
                color: #795744;
                margin-left: 2rem;
                font-size: 14px;

            }
        }

        .services-center {
            margin-top:1rem;
            display: flex;
            flex-direction: column;
            column-gap: 20px;
            gap: 1rem;
            align-items: center;
            margin-left: 0px;
            margin-right: 0px;

        }

        .service {

            width: 500px;
            height: 250px;
            margin-bottom: 30px;

            p {
                color: #5f4435;
                font-size: 14px;
            }



        }

        span {
            width: 3rem;
            height: 3rem;
            display: grid;
            margin: 0 auto;
            place-items: center;
            border-radius: 50%;
            background: #eaded7;
            color: #453227;
        }

    }


}

@media (max-width: 576px) {
    .section {
         padding: 1rem;
        .header {
            display: grid;
            grid-template-columns: 1fr;
            width: fit-content;

            p {
                margin-bottom: 0;
                line-height: 1.8;
                color: #795744;
                margin-left: 2rem;
                font-size: 14px;

            }
        }

        .services-center {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            column-gap: 20px;
            gap: 10px;
            align-items: center;
            margin-left: 0px;
            margin-right: 0px;

        }

        .service {
            width: 400px;
            height: 250px;
            margin-bottom: 30px;
        }



    }


}

@media (max-width: 1280px) {


    // .section-center {
    //     transform: translateY(5rem);
    // }

}

@media (max-width:491px) {

    .header {
        p {
            margin-bottom: 0;
            line-height: 1.5;
            color: #795744;
            // margin-left: 2rem;
            font-size: 12px;
            width: 250px;
        }
    }
    .services-center {
        .service {
            width: 300px;
            height: 250px;
            margin-bottom: 30px;
        }
    }


    // .services-center {
    //     grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

    // }
}