@import "../../variable.scss";

.section {

    h2 {}

    h4 {
        color: #453227;
    }

    padding: 9rem 0;

    background: #eaded7;

    .header h2 {
        color: #453227;
        margin-left: 60px;
        line-height: 1;
        margin-bottom: 2rem;
        letter-spacing: 2px;
        font-weight: bold;

    }

    p {
        margin-bottom: 0;
        line-height: 1.8;
        color: #795744;
    }

    .services-center {
        margin-top: 4rem;
        display: grid;
        gap: 2.5rem;
        margin-left: 60px;

    }

    .service {
        background: #c5a491;
        text-align: center;
        padding: 2.5rem 2rem;
        border-radius: 0.25rem;
        width: 380px;
        height: 300px;

        p {
            color: #5f4435;
        }

        article {
            margin-right: 40px;
            margin-left: 60px;
            width: 300px;
        }

    }

    span {
        width: 3rem;
        height: 3rem;
        display: grid;
        margin: 0 auto;
        place-items: center;
        margin-bottom: 1rem;
        border-radius: 50%;
        background: #eaded7;
        color: #453227;

        svg {
            font-size: 2rem;
        }
    }

    @media (min-width: 992px) {
        .header {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (min-width: 576px) {
        .services-center {
            grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        }
    }

    @media (min-width: 1280px) {
        padding: 0;

        .section-center {
            transform: translateY(5rem);
        }
    }
}