@import "../../variable.scss";

.section {
    h4 {
        color: #453227;
    }

    // padding: 5rem 0;

    background: #eaded7;

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 0;

        h2 {
            color: #453227;
            margin-left: 60px;
            line-height: 1;
            margin-bottom: 2rem;
            letter-spacing: 2px;
            font-weight: bold;

            p {
                margin-bottom: 0;
                line-height: 1;
                color: #795744;
                margin-left: 0;

            }

        }
    }


    .services-center {
        margin-top: 4rem;
        display: grid;
        gap: 2.5rem;
        margin-left: 60px;
        margin-right: 60px;

    }

    .service {
        background: #c5a491;
        text-align: center;
        padding: 2.5rem 2rem;
        border-radius: 0.25rem;
        width: 380px;
        height: 300px;

        p {
            color: #5f4435;
        }

        article {
            margin-right: 40px;
            margin-left: 60px;
            width: 300px;
        }

    }

    span {
        width: 3rem;
        height: 3rem;
        display: grid;
        margin: 0 auto;
        place-items: center;
        margin-bottom: 1rem;
        border-radius: 50%;
        background: #eaded7;
        color: #453227;

        svg {
            font-size: 2rem;
        }
    }
}

@media (max-width: 992px) {
    .section {
        .header {
            display: grid;
            grid-template-columns: 1fr;
            width: fit-content;

            h2 {
                color: #453227;
                line-height: 1;
                margin-bottom: 2rem;
                letter-spacing: 1.5px;
                font-weight: bold;
                font-size: 24px;
                margin-left: 2rem;
            }

            p {
                margin-bottom: 0;
                line-height: 1.8;
                color: #795744;
                margin-left: 2rem;
                font-size: 14px;
                width: max-content;
            }
        }

        .services-center {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            column-gap: 20px;
            gap: 2.5rem;
            align-items: center;
            margin-left: 0px;
            margin-right: 0px;

        }

        .service {
            background: #c5a491;
            text-align: center;
            padding: 2.5rem 2rem;
            border-radius: 0.25rem;
            width: 580px;
            height: 250px;

            p {
                color: #5f4435;
                font-size: 14px;
            }

            article {
                margin-right: 40px;
                margin-left: 60px;
                width: 300px;
            }

        }

        span {
            width: 3rem;
            height: 3rem;
            display: grid;
            margin: 0 auto;
            place-items: center;
            margin-bottom: 1rem;
            border-radius: 50%;
            background: #eaded7;
            color: #453227;

            svg {
                font-size: 2rem;
            }
        }

    }


}

@media (min-width: 576px) {
    .services-center {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}

@media (min-width: 1280px) {


    .section-center {
        transform: translateY(5rem);
    }
}