@import "../../variable.scss";


.mainHeader {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
}

img {
  width: 175px;
  margin-left: 50px;
  overflow: hidden;
  padding-top: 3px;
}

.navbar-container {
  .navbar-lists {
    margin-right: 15rem;
    display: flex;
    gap: 3rem;
    align-items: baseline;
    list-style: none;
  }

  .navbar-login {
    display: flex;
    gap: 3rem;
    align-items: baseline;
    list-style: none;
    margin-right: 6rem;
  }

  .navbar-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: $grey-3;
    letter-spacing: 1.5px;
  }
.navbar-link li a:hover{
  //  border-bottom: 2px solid $primary-8;
}
  .navbar-login {
    display: flex;
    gap: 40px;
    list-style: none;
    letter-spacing: 0.1px;
    text-transform: capitalize;

    li a {
      text-decoration: none;
      font-size: 1.5rem;
      color: $grey-1;
      letter-spacing: 1.5px;
    }

    .user {
      font-size: 26px;
      margin-left: 3px;
      margin-bottom: 5px;
    }
  }

  .res-navbar-btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;

    .mobile-nav-icon,
    .mobile-nav-close-icon {
      font-size: 2rem;
      cursor: pointer;
      font-weight: 600;
      color: $primary-5;
      margin-right: 10px;
    }

    .mobile-nav-icon.hidden {
      display: none;
    }

    .mobile-nav-close-icon.visible {
      display: block;
    }

    .mobile-nav-close-icon {
      display: none;
    }
  }

  .cart-trolly- {
    position: relative;

    .cart-trolley {
      position: relative;
      font-size: 1.4rem;
    }

    .cart-total--item {
      font-size: medium;
      width: 1.6rem;
      height: 1.6rem;
      position: absolute;
      background-color: $primary-5;
      color: $white;
      border-radius: 50%;
      display: grid;
      place-items: center;
      top: -30%;
      left: 90%;
    }
  }

  @media (max-width: 1280px) {


    .navbar-lists, 
    .navbar-login {
      display:none;


    }

    .navbar-lists.open, .navbar-login.open {
      display:initial;
      grid-template-columns: 1fr;
      
      .navbar-lists{
        margin-top: 20px;
        margin-right: 15rem;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        list-style: none;
      }
      .navbar-link {
        display: flex;
        text-decoration:column;
        font-size: 1rem;
        font-weight: 400;
        color: $grey-3;
        letter-spacing: 1.5px;
      }

    }

    .res-navbar-btn {
      display:block;
    }
  }
   
}

  @media (max-width: 991px) {

    img {
      width: 175px;
      margin-left: 10px;
      overflow: hidden;
      padding-top: 3px;
    }
        .navbar-lists, 
        .navbar-login {
          display:none;


        }

        .navbar-lists.open, .navbar-login.open {
          display:initial;
          grid-template-columns: 1fr;
          
          .navbar-lists{
            margin-top: 20px;
            margin-right: 15rem;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            list-style: none;
          }
          .navbar-link {
            display: flex;
            text-decoration:column;
            font-size: 1rem;
            font-weight: 400;
            color: $grey-3;
            letter-spacing: 1.5px;
          }

        }

        .res-navbar-btn {
          display:block;
        }
      }
    
  
