@import "../../variable.scss";


    .mainHeader {
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 80px;
    }

    img {
        width: 175px;
        margin-left: 50px;
        overflow: clip;
        padding-top: 3px;
    }


.navbar-conatiner {
    .navbar-lists {
        display: flex;
        gap: 3rem;
        align-items: baseline;
        margin-right: 200px;
        margin-top: 20px;
        list-style: none;
    }

    .navbar-link {
        display: inline-block;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        color: $grey-3;
        list-style: none;
        letter-spacing: 1.5px;
    }

    @media (min-width: 992px) {
        .navbar-links {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }

        .navbar-links li {
            margin: 0px 0.5rem;
        }

    }

    .navbar-login {
        display: flex;
        gap: 40px;
        margin-right: 100px;
        list-style: none;
        padding-top: 20px;
        letter-spacing: 0.1px;
        text-transform: capitalize;

        li a {
            text-decoration: none;
            font-size: 1.5rem;
            color: #102a42;
            letter-spacing: 1.5px;

        }
        .user{
            font-size: 26px;
            margin-left: 3px;
            margin-bottom: 5px;
        }
    }

    .res-navbar-btn {
        display: none;
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    .cart-trolly- {
        position: relative;

        .cart-trolley {
            position: relative;
            font-size: 1.4rem;
        }
    }

    .cart-total--item {
        font-size: medium;
        width: 1.6rem;
        height: 1.6rem;
        position: absolute;
        background-color: #ab7a5f;
        color: #ffffff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        top: -30%;
        left: 90%;
    }
}

.active .close-outline {
    display: inline-block;
}

// .navbar-container {
//     .navbar {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       position: relative;
  
//       .navbar-lists,
//       .navbar-login {
//         display: flex;
//         align-items: center;
//         gap: 3rem;
//         list-style: none;
//         transition: transform 0.3s ease-in-out;
//       }
  
//       .navbar-lists {
//         &.open {
//           transform: translateX(0);
//         }
//       }
  
//       .navbar-login {
//         gap: 40px;
//         margin-right: 100px;
//         padding-top: 20px;
//         letter-spacing: 1.5px;
  
//         &.open {
//           transform: translateX(0);
//         }
//       }
  
//       .res-navbar-btn {
//         display: none;
  
//         .mobile-nav-icon,
//         .mobile-nav-close-icon {
//           font-size: 2rem;
//           cursor: pointer;
//         }
  
//         .mobile-nav-icon {
//           &.hidden {
//             display: none;
//           }
//         }
  
//         .mobile-nav-close-icon {
//           &.visible {
//             display: block;
//           }
//           display: none;
//         }
//       }
//     }
  
//     @media (max-width: 991px) {
//       .navbar {
//         .navbar-lists,
//         .navbar-login {
//           display: flex;
//           flex-direction: column;
//           position: absolute;
//           top: 100%;
//           left: 0;
//           background-color: white;
//           width: 100%;
//           padding: 1rem;
//           gap: 1rem;
//           transform: translateX(-100%);
//           transition: transform 0.3s ease-in-out;
//         }
  
//         .navbar-lists.open,
//         .navbar-login.open {
//           transform: translateX(0);
//         }
  
//         .res-navbar-btn {
//           display: block;
//         }
//       }
//     }
//   }
  
  
  
  