@import '../../variable.scss';



.list-con{
    margin: 20px 30px;
    display: grid;
    grid-template-columns: 350px 630px;
    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        margin-left: 0;
        padding-top: 0;
        border-radius: $radius;
        
    }
    .left-sec{
        h5{
            color: $grey-1;
            text-transform: capitalize;
            font-size: 1.5rem;
        }
        .price-list{
            color: $primary-5;
        }
        p{
            color: $grey-3;
            display: -webkit-box;
            font-size: 15px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 570px;
      
        }
        .list-butt{
            border: none;
            background:$primary-5;
            color: $white;
            border-radius: $radius;
            font-size: 10px;
        }
    }
}

@media (max-width: 922px){

    .list-con{
       margin: 1rem;
        display: grid;
        grid-template-columns:1fr;
          
       img {
                width: 300px;
                height: 180px;
                object-fit: cover;
                margin-left: 0;
                padding-top: 0;
                border-radius: $radius;
                margin-bottom: 5px;
            }
        .left-sec{
            h5{
                color: $grey-1;
                text-transform: capitalize;
                font-size: 1.5rem;
                margin-bottom: 1px;
            }
            .price-list{
                color: $primary-5;
                margin-bottom: 1px;
            }
            p{
                color: $grey-3;
                display: -webkit-box;
                font-size: 15px;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 570px;
          
            }
            .list-butt{
                border: none;
                background:$primary-5;
                color: $white;
                border-radius: $radius;
                font-size: 10px;
            }
        }
    }
}